body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../images/folio/9.jpg);
  background-size: cover;
  background-position: center;
}
.sign-up-form {
  width: 300px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  backface-visibility: visible;
  padding: 20px;
  margin: 13% auto 0;
  text-align: center;
}
.sign-up-form h1 {
  color: dimgray;
  background-color: azure;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
button {
  color: dimgray;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-btn {
  background-color: aquamarine;
}
